.admin-page {
    padding: 20px;
    color: #440000;
    font-family: "Montserrat", sans-serif;
}

.page-title {
    font-size: 28px;
    margin-bottom: 25px;
    color: #440000;
}

/* Контейнер карточек */
.fittings-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Карточка заявки */
.fitting-card {
    background: #FDE8EC;
    border: 2px solid #F7BCC9;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.fitting-info p {
    margin: 4px 0;
}

.fitting-header {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.fitting-status {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 13px;
    background: #F7BCC9;
    color: #440000;
    font-weight: 600;
}

.fitting-id {
    font-size: 13px;
    color: #440000;
    padding: 4px 0;
}

/* Блок кнопок */
.fitting-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

/* Кнопки */
.btn {
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s ease;
}

.btn-approve {
    background: #F7BCC9;
    color: #440000;
}

.btn-approve:hover {
    background: #f6aabb;
}

.btn-cancel {
    background: white;
    color: #440000;
    border: 2px solid #F7BCC9;
}

.btn-cancel:hover {
    background: #ffe1e8;
}

/* Пустое состояние */
.empty-state {
    text-align: center;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    color: #440000;
    border: 2px dashed #F7BCC9;
}


.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.modal.open {
    display: flex;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 14px;
    width: 350px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-close {
    background: #FDE8EC;
    color: #440000;
}
