*{
    text-decoration:none;
}

.catalog-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #440000;
    margin-left:20px;
    margin-top:20px;
    margin-right:20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e2e2;
    opacity: 0.9;
}


.admin-catalog-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
    
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card__image {
    width: 100%;
    aspect-ratio: 1 / 1.22;
    overflow: hidden;
    border-radius: 8px;
    background: #f5f5f5;
    margin-bottom:10px;
}

.product-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.admin-actions {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 10px; /* расстояние между кнопками */
}

.admin-actions a,
.admin-actions button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 0;
    padding: 0;
    transition: transform 0.15s ease; /* плавное небольшое увеличение */
}



.admin-actions a:hover,
.admin-actions button:hover {
    transform: scale(1.1);
}


.admin-actions a img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7bcc9;
    color: #440000;
    font-size: 24px;
    cursor: pointer;
}

.add-icon {
    font-size: 48px;
    font-weight: bold;
}


.add-product a {
  display: flex;
  flex-direction:column;
    justify-content: center;
    align-items: center;
          /* превращаем ссылку в блочный элемент */
  width: 100%;
  height: 100%;
  text-decoration: none; /* убираем подчеркивание */
  color: inherit;        /* чтобы текст наследовал цвет */
}

.add-product a:hover {
  transition: background 0.2s ease;
}



.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    color: #440000;
    font-family: 'Raleway', sans-serif;
}
.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
.confirm-btn {
    background: #FAD4DA;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.cancel-btn {
    background: #ccc;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}