/* ====== МОДАЛКА — КРАСИВЫЙ ДИЗАЙН ====== */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    /*backdrop-filter: blur(3px);*/
    animation: fadeInBg 0.25s ease forwards;
}

.modal-window {
    background: #ffffff;
    padding: 32px;
    border-radius: 18px;
    width: 90%;
    max-width: 420px;
    text-align: center;
    position: relative;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.18);

    animation: scaleIn 0.25s ease forwards;
}

/* Заголовок */
.modal-window h2 {
    margin: 0 0 12px;
    font-size: 24px;
    font-weight: 700;
    color: #440000;
}

/* Текст */
.modal-message {
    font-size: 16px;
    line-height: 1.45;
    color: #440000;
    margin-bottom: 25px;
}

/* Крестик */
.modal-close {
    position: absolute;
    right: 12px;
    top: 10px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: #999;
    cursor: pointer;
    transition: 0.2s;
}

.modal-close:hover {
    color: #000;
}

/* Кнопки */
.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.modal-buttons button {
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}

/* Стиль кнопок по классам */
.modal-confirm-btn {
    background: #F7BCC9;
    color: white;
}



.modal-cancel-btn {
    background: #F7BCC9;
    color: white;
}

.modal-confirm-btn:hover {
    background: #F59FB5;
    color: white;
}



.modal-cancel-btn:hover {
    background: #F59FB5;
    color: white;
}




/* ====== АНИМАЦИИ ====== */
@keyframes scaleIn {
    from {
        transform: scale(0.85);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInBg {
    from { opacity: 0; }
    to { opacity: 1; }
}
